#container{
    text-align: center;
    width:40%;
    height:40%;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
    border-width: 2px;
    padding: 5px 5px 5px 5px;
}
#numBox{
    width: 50px;
    height: 50px;
    font-size: larger;
    text-align: center;
}
#number{
    display:grid;
    text-align: center;
}
#opr{
    width:40px;
    height:40px;
    font-size: larger;
}
img{
    width: 20%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#submitButt{
    width: 100px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#retMen{
    text-align: center;
}

