<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/calculate.css"/>
    <title>Computation</title>
</head>
<body>
    <img src="/img/calculater.png" alt="calcul8r">
    <div id="container">
        <div>
            <h1>The <%=locals.op%> is <%=locals.re%></h1>
        </div>
        <a id="retMen" href="/">Return to Menu</a>       
    </div>
</body>
</html>