html {
    background-color: white;
}

body {
    width: 600px;
    margin: 1em auto;
    background-color: white;
    border: 3px solid blue;
    outline: 1px solid black;
    padding: 20px 20px 20px 20px;
    font-family: sans-serif;
}

hr {
    width: 90%;
    border: 1px solid #D8C858;
}

h2 {
    font-family: sans-serif;
    text-align: left;
    color: blue;
}

.input{
    width: 67%;
    margin-bottom: 5px;
}

.button {
    background-color: white;
    color: black;
    border: 1px solid gray;
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
}
 
.colmn{
    width: 48%;
    display: inline-block;
    vertical-align:top;
    padding: 0px;
    margin: 0px;
    

}
.container{
    width: 100%;
}
